*{
	margin: 0;
	padding: 0;
}
#heading{
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	width: 350px;
	height: 100px;
	margin-bottom: 60px;
	background: #000000;
	color: #ffffff;
}
.info{
	margin: 0 auto;
	width: 850px;
	height: 250px;
	background: #000000;
	color: #ffffff;
	border: solid 3px yellow;

}
.info .btn #input{
	padding: 5px 15px;
	font-size: 22px;
	background: #3a3b3c;
	color: #ffffff;
	border: solid 2px yellowgreen;
	margin-left: 15px;
	


}
.info .btn #submit{
	padding: 5px 15px;
	margin: 30px;
	font-size: 22px;
	background: #3a3b3c;
	color: #ffffff;
	cursor: pointer;
	border: solid 2px yellowgreen;


}
.info table{
	border-collapse: collapse;
	margin-left: 15px;
	
}
.info table th{
	padding: 10px 15px;
	font-size: 22px;
}
.info table td{
	padding: 10px;
	font-size: 22px;
}